@import 'node_modules/bootstrap-icons/font/bootstrap-icons.css';

:root{
  --letra-popa: 'Poppins', sans-serif;
  --heading-font: "Raleway",  sans-serif;
}
:root{
    --color-main: #009970;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--heading-color);
  font-family: var(--heading-font);
}