.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 40px 8%;
  background-color: #ffff;
  flex-wrap: wrap;
}

.text-about {
  flex: 1;
  margin-left: 5%;
  min-width: 280px;
}

.text-about h2 {
  font-size: 33px;
  margin-bottom: 15px;
  color: #222;
}

.text-about p {
  font-size: 15px;
  color: #555;
  margin-bottom: 20px;
  width: 100%;
  font-weight: 500;
}

.text-about ul {
  list-style: none;
  padding: 0;
}

.text-about li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.text-about li i {
  font-size: 40px;
  color: #009970;
  margin-right: 12px;
  margin-top: 3px;
}

.text-about .li h5 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

.text-about .li p {
  font-size: 13px;
  color: #666;
}

.video {
  position: relative;
  flex: 1;
  width: 100%;
  min-width: 280px;
  margin-right: 3%;
}

.video img {
  width: 100%;
  display: block;
}

.pulsating-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: #00c28b;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 0 0 rgba(0, 194, 139, 0.7);
  animation: pulse 1.5s infinite;
}

.pulsating-play-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  width: 0;
  height: 0;
  border-left: 14px solid white;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 194, 139, 0.7);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(0, 194, 139, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 194, 139, 0);
  }
}

@media (max-width: 1024px) {
  .about-us {
    padding: 30px 5%;
  }
  .text-about {
    margin-left: 0;
  }
  .video {
    margin-right: 0;
  }
}