.services {
  /* Main container */
  padding: 60px 5%; 
  background-color: #F5F5F5;
  font-family: 'Segoe UI', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 150vh !important; 
}
.services a {
    text-decoration: none;
    color: inherit;
}
.title-services {
  /* Title section */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  gap: 10px;
}

.title-services h2 {
  font-size: 33px; 
  color: #333;
  margin-bottom: 8px; 
}

.title-services .line {
  width: 50px;  
  height: 2px;
  background-color: var(--color-main);
}

.title-services p {
  font-size: 15px; 
  color: #666;
  max-width: 100%;
  font-weight: 600;
}

.panel-services {
  /* Services grid */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  
  gap: 25px;  
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: auto; 
  padding-bottom: 40px;
  height: 60vh;
}

.services-group {
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    transition: transform .5s ease , box-shadow 0.3s ease;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.services-group:hover {
    transform: translateY(-10px);
    box-shadow: 0px 3px 0px var(--color-main);
}
.icon {
  /* Icon container */
  width: 60px;  
  height: 60px;  
  background-color: var(--color-main);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.services-group i {
    font-size: 30px;
    color: #ffff;
    margin-bottom: 15px;
    display: block;
    border-radius: 50%; 
    padding: 10px;
    margin-top: 25%;
}

.services-group h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.services-group p {
    font-size: 15px;
    color: #666;
    line-height: 1.6;
    font-weight: 400;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .services {
    padding: 40px 5%;
    gap: 30px;
  }
  
  .title-services {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  
  .title-services .line {
    margin: 0 auto;
  }
}

@media (min-width: 1366px) {
  .panel-services {
    grid-template-columns: repeat(3, 1fr);
  }
}