.whychoose {
    padding: 60px 250px;
    background-color: #ffff;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.choose-text {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-main);
    color: #fff;
    padding: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}

.choose-text h3 {
    font-size: 40px;
    margin-bottom: 20px;
}

.choose-text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.btn-choose {
    display: inline-block;
    padding: 8px 0px;
    background-color: #2DAB89;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    width: 200px;
    text-align: center;
    font-family: var(--heading-font);
    font-weight: 600;
}

.btn-choose:hover {
    background-color: #ffff;
    color: var(--color-main);
}
.btn-choose::after {
    content: ' >';
    font-size: 23px;
}

.group-choose {
    flex: 1 1 250px;
    background-color: #fff;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border: 1px solid #ECECEC;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 6%;
}

.group-choose i {
    font-size: 40px;
    color: var(--color-main);
    margin-bottom: 15px;
    background-color: #F2FAF8;
    border-radius: 50%;
    width: 30%;
    height: 70px;
    padding: 10px;
}
.group-choose i:hover {
    font-size: 40px;
    color: #ffff;
    margin-bottom: 15px;
    background-color: var(--color-main);
    border-radius: 50%;
    width: 30%;
    height: 70px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.group-choose h4 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.group-choose p {
    font-size: 15px;
    color: #666;
    line-height: 1.5;
}

@media (max-width: 1711px) and (min-width: 1200px) {
    .row{
        display: grid;
        grid-template-columns: repeat(4, 1fr) !important;
        gap: 20px;
    }
    .choose-text {
        height: 40vh;
        display: flex;
        flex-direction: column;
        background-color: var(--color-main);
        color: #fff;
        padding: 100px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        justify-content: center;
        align-items: center;
    }
    .choose-text h3{
        display: flex;
        font-size: 24px !important;
        margin-bottom: 20px;
        margin: 0;
        padding: 0px 0px 10px 0px;
        margin-left: -30%;
    }
    .choose-text p {
        font-size: 13px !important;
        line-height: 1.4;
        margin-bottom: 20px;
        margin-left: -30%;
    }
    
}